
.loginForm{
	width: 340px;
	float: right;
	padding: 20px;
	margin: 200px  200px 0 0;
	border:1px solid #ccc;
}
.loginForm .col-sm-3,.loginForm .col-sm-9{
	padding: 0 10px;
}
.alert{
	padding: 5px 30px 5px 5px;
	position: absolute;
	margin: 0;
}