<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<meta name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
	<Meta http-equiv="Page-exit" Content="revealTrans(duration=10, transition=16)" /> 
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.2.0/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
  	<% if(success) { %>
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= success %>
		</div>
	<% } %>
	<% if(error) { %>
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= error %>
		</div>
	<% } %>